div {
    background: green;
    height: 30vh;
    width: 260px;
    text-align: center;
}
#container{
    height: 94vh;
    width: 130vh;
    background-color: blue;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    align-content: space-around;
    justify-content: space-around;

}
img{
    border: 2px black solid;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 3px 3px 3px black;
}

.card{
    border: black 3px solid;
    border-radius: 6px;
}