div {
    background: green;
    height: 30vh;
    width: 260px;
    text-align: center;
    align-content: flex-start;
    justify-content: flex-start;
    
}
#kontener{
    height: 96vh;
    width: 130vh;
    background-image: linear-gradient(blue,red,green);
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    align-content: space-around;
    justify-content: space-around;
    overflow: hidden;
    border: 1px black solid;
    border-radius: 10px;
    position: relative;
    animation: spadanie 2s forwards;

}

img{
    border: 1px black solid;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.card{
    border: black 3px solid;
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    transition: 1s ease-in-out;
}

body {
    background-image: linear-gradient(blue , red, green);
    overflow: hidden;
    display: flex;
    flex-flow: column;
    align-items: center;
}

h3{
    margin-top: 15px;
}

#wyszukiwanieInput{
    text-align: center;
    border:  1px black solid;
    border-radius: 10px 10px 0px 0px;
    width: 50vh;
}

.card:hover {
   
    rotate: 360deg;
}

@keyframes spadanie {
    0% {
        top: -100vh;

    }
    100%{
        top: 0;
    }
}

button{
    text-align: center;
    border:  1px black solid;
    border-radius: 10px 10px 0px 0px;
    width: 50vh;
}



