.sigma {

    height: 100%;
    background-color: green;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: black;
}

img {
    background-color: green;
}

#tak{
    border-radius: 3px;
    border: 3px white dashed;
}
h3{
    text-align: center;
}
