body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    overflow: hidden;
    background-image: url('zadymiarze/1.png');
    background-size: 100% 50%;
    background-repeat: no-repeat;
    animation: tlo 5s infinite alternate;
}
#tak {
    height: 40vh;
    background-color: green;
    width: 35vh;
    display: flex;
    align-items: center;
    justify-items: flex-end;
    flex-flow: column;
}

img{
    border: 1px black solid;
    border-radius: 10px;
    margin-top: 10px;
    
}


#tak{
    border-radius: 10px;
    border: 3px black solid;
}

h3{
    text-align: center;
}

footer {
    background-color: blue;
    height: 5vh;
    width: 35vh;
    border-top: 3px black solid;
    border-bottom: 3px black solid;
    
}

a:link{
    color: black;
}

@keyframes tlo {
    0% {
        background-position: 0% 0%;
    }

    100%{
        background-position: 0% 100%;
    }
}




p{
    text-align: center;
    margin: 10px;
}

