.sigma {

    height: 100%;
    background-color: green;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: black;
}

#tak{
    border-radius: 3px;
    border: 3px white dashed;
}
h3{
    text-align: center;
}

footer {
    background-color: blue;
    height: 5vh;
    animation: aaa 120s infinite;
}

@keyframes aaa {
    50%{
        block-size: 6vh;
    }
}

p{
    margin: 0;
    text-align: center;
}